:root {
  --main-color: #4caf50;
  --secondary-color: #3e8e41;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 20rem;
  margin: 0 auto;
}

.section {
  padding: 1rem 0;
}

.section input,
.section select {
  width: 95%;
}

.highlight.hasData {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
}

.buttonStyle {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--main-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.buttonStyle:hover {
  background-color: var(--secondary-color);
}

.buttonStyle:active {
  background-color: var(--secondary-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pointer {
  cursor: pointer;
}

.alignCenter {
  text-align: center;
}
